
    body {
        font-family: 'Inter', sans-serif;
        background-color: #f3f4f6;
        color: #1f2937;
    }

    .footer-bar {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #ffffff;
        z-index: 100;
        padding: 1rem 2rem;
        text-align: center;
        font-size: 0.875rem;
        color: #6b7280;
        box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1), 0 -2px 4px -1px rgba(0, 0, 0, 0.06);
    }

    .container {
        max-width: 60rem;
        margin: auto;
        padding: 2rem;
        padding-top: 5rem; /* Espacio para que el contenido no quede pegado arriba */
    }

    .card-grid {
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    @media (min-width: 640px) {
        .card-grid {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }

    .card {
        background-color: #ffffff;
        border-radius: 1.5rem;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        padding: 1.5rem;
        text-align: left;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        text-decoration: none;
        display: block;
    }

    .card:hover {
        transform: translateY(-0.5rem);
        box-shadow: 0 20px 25px -5px rgba(225, 7, 124, 0.2), 0 10px 10px -5px rgba(225, 7, 124, 0.1);
    }

    h1 {
        font-size: 2.5rem;
        font-weight: 700;
        color: #E1077C;
        text-balance: balance;
        text-align: center;
        margin-bottom: 2rem;
    }

    h2 {
        font-size: 1.75rem;
        font-weight: 600;
        color: #1f2937;
        margin-bottom: 0.5rem;
    }

    p {
        font-size: 1rem;
        color: #6b7280;
    }

    .diapositiva {
        background-color: #ffffff;
        border-radius: 1.5rem;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        padding: 2rem;
        margin-bottom: 2rem;
    }


    h3 {
        font-size: 1.25rem;
        font-weight: 600;
        color: #374151;
        margin-bottom: 0.5rem;
        border-bottom: 2px solid #e5e7eb;
        padding-bottom: 0.5rem;
    }

    p, li {
        font-size: 1rem;
        color: #6b7280;
        line-height: 1.5;
        margin-bottom: 1rem;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
    }

    .back-button {
        display: inline-block;
        margin-bottom: 2rem;
        color: #E1077C;
        font-weight: 600;
        text-decoration: none;
        transition: color 0.3s ease;
    }

    .back-button:hover {
        color: #c00569;
    }
